<div
  class="relative flex justify-center overflow-hidden h-[30rem] px-4"
  style="font-size: 1.125rem"
>
  <img
    src="/img/Harmony Logo Sized.svg"
    aria-hidden="true"
    class="
      absolute
      w-[80ch]
      h-auto
      bottom-[-18rem]
      left-[-6rem]
      -z-1
      pointer-events-none
      invisible
      sm:visible
    "
  />
  <div
    class="
      w-[30rem]
      h-[30rem]
      absolute
      right-[5%]
      bottom-[70%]
      transform
      rotate-[45deg]
      z-[0]
    "
    style="background-image: url('/img/graph-paper.svg'); background-size: 50px"
  ></div>
  <div class="w-[80ch] flex flex-col gap-4 z-10">
    <h1>
      <br />
      <span class="text-4xl font-bold">Harmony</span>
    </h1>
    <h2 class="text-xl font-bold">
      An open protocol for open, harmonious communication.
    </h2>
    <h3 class="text-lg opacity-80 max-w-prose">
      Harmony facilitates easy, simple communication between people regardless
      of who or where they are.
    </h3>
    <a class="btn ml-auto" href="https://github.com/harmony-development">
      Explore Harmony on GitHub
    </a>
  </div>
</div>

<div class="w-full bg-orangish fading-bg h-4"></div>
<br />
