<div class="nu-spacer">
    <h1 class="h1 nu-center">
        <img src="/img/Harmony Logo Sized.svg" aria-hidden="true">
        <br>
        <span class="harmony-thin-header">This is </span><span class="harmony-thick-header">Harmony.</span>
    </h1>
    <h1 class="h2 nu-center">
        Your place. Your communities. Your friends.
    </h1>
    <h3 class="h3 nu-center">
        Whether you're a artist, gamer, nerd, or just someone who wants to hang with their friends, Harmony lets you talk with your people every day.
    </h3>
</div>

<br>
