<footer class="text-center lg:text-left bg-light-700 dark:bg-dark-700 mt-12 prose prose-only">
  <div class="mx-8 py-10 text-center md:text-left">
    <div class="grid grid-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="">
        <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
          Our Social Media
        </h6>
        <p class="mb-4">
          <a href="https://github.com/harmony-development">GitHub</a>
        </p>
        <p class="mb-4">
          <a href="https://twitter.com/ChatHarmony">Twitter</a>
        </p>
        <p class="mb-4">
          <a href="https://fosstodon.org/@harmony">Mastodon</a>
        </p>
      </div>
      <div class="">
        <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
          Developer Links
        </h6>
        <p class="mb-4">
          <a href="#!" class="text-gray-600">FAQ</a>
        </p>
        <p class="mb-4">
          <a href="/docs" class="text-gray-600">Documentation</a>
        </p>
        <p>
          <a href="#!" class="text-gray-600">SDKs</a>
        </p>
      </div>
      <div class="">
        <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
          User Links
        </h6>
        <p class="mb-4">
          <a href="#!" class="text-gray-600">Download A Client</a>
        </p>
        <p class="mb-4">
          <a href="#!" class="text-gray-600">Get Support</a>
        </p>
        <p>
          <a href="#!" class="text-gray-600">Press Kit</a>
        </p>
      </div>
      <div class="">
        <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
          Sysadmin Links
        </h6>
        <p class="mb-4">
          <a href="#!" class="text-gray-600">Sysadmin FAQ</a>
        </p>
        <p class="mb-4">
          <a href="/docs" class="text-gray-600">Server Docs</a>
        </p>
        <p>
          <a href="#!" class="text-gray-600">Deploy A Server</a>
        </p>
      </div>
    </div>
  </div>
  <div class="text-center p-6 bg-light-900 dark:bg-dark-900">
    <span>© 2020-2022 Copyright:</span>
    <span class="font-semibold">Harmony Developers</span>
  </div>
</footer>

