<header class="w-full bg-gray-200 header flex text-lg">
  <div class="flex flex-row w-full items-center">
    <div class="flex-auto px-3 justify-start order-first inline-flex">
      <a class="font-header" href="/">
        <span class="font-light">Harmony </span
        ><span class="font-bold">Chat</span>
      </a>
    </div>
    <div class="flex-auto p-2 justify-end order-last inline-flex gap-1">
      {{ range .Site.Menus.main }}
      <a
        href="{{ .URL }}"
        class="
          ml-2
          nu-top-app-bar__link
          h1-minor-minor
          border-2 border-transparent
          px-2
          hover:border-current hover:bg-white hover:bg-opacity-5
          rounded-sm
          transition
          duration-100
        "
      >
        {{ .Name }}
      </a>
      {{ end }}
    </div>
  </div>
</header>
